<a href="https://colab.research.google.com/github/Ticoliro08/GUI.github.io/blob/main/Retomando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
email = 'ggsantana@gmail.com'

print(email.split('@')[0])

ggsantana

In [ ]:
email = 'ggsantana@gmail.com'

print(email.split('@'))

['ggsantana', 'gmail.com']

SPLIT é um comando para separação de String de acordo com um termo

##Looping

In [1]:
frutas = ['pera', 'maça', 'banana', 'uva']

for i in frutas:
  print(i)

pera
maça
banana
uva

In [ ]:
for char in 'domingo':
  print(char)

d
o
m
i
n
g
o

In [ ]:
person1 = {
    'nome': 'guilherme',
    'sexo': 'masculino',
    'idade': 18,
    'casado': True
}

for key in person1:
  print(key , ':', person1[key])

nome : guilherme
sexo : masculino
idade : 18
casado : True

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
numerador = int(input("Qual o número que quer que se faça a tabuada: "))
print("\n")
for i in range(1,11):
    result = i * numerador
    print(f"{numerador} x {i} = {result}")
    i = i + 1

Qual o número que quer que se faça a tabuada: 5


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input('digite um numero inteiro: '))
soma_impares = 0
contador = 1

while contador <= n:
  if contador % 2 != 0:
    soma_impares += contador
  contador += 1

print(f'A soma dos numeros impares até {n} é {soma_impares}')

digite um numero inteiro: 100
A soma dos numeros impares até 100 é 2500

In [ ]:
a = int(input('Digite o primeiro numero: '))
b = int(input('Digite o segundo numero: '))

soma = a + b
print(f'A soma é: {soma}')

Digite o primeiro numero: 2
Digite o segundo numero: 2
 A soma é: 4

In [2]:
qnt_produtos = int(input('Digite a quantidade de produtos: '))
contador = 0
for valor_produto in range(qnt_produtos):
  valor_produto = int(input(f'Passe o valor do produto {valor_produto}: '))
  contador = contador + valor_produto
cmd
print(f'O total de vendas é de {contador}')

Digite a quantidade de produtos: 3
Passe o valor do produto 0: 5
Passe o valor do produto 1: 5
Passe o valor do produto 2: 5
O total de vendas é de 15